/* Mobile device */
@media screen and (max-width: 576px){
    
    .header-container{
        width: 90%;
    }
    nav{
        display: block;
    }
    nav ul{
        display: block;

    }
    nav ul li{
        margin-top: 20px;
    }
    .brand-new h1{
        font-size: 3rem;
    }
    nav ul{
        gap: 0px;
    }






}







/*medium device */
@media screen and (min-width:576px) and (max-width:992px){

    nav ul{
        gap: 20px;
    }

}