@font-face {
    font-family:WorkSans-Bold;
    src: url(../font/WorkSans-Bold.ttf);
}
@font-face {
    font-family:WorkSans-Medium;
    src: url(../font/WorkSans-Medium.ttf);
}
@font-face {
    font-family:WorkSans-SemiBold;
    src: url(../font/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family:WorkSans-Regular;
    src: url(../font/WorkSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:WorkSans-Regular;
    color: #727272;
    font-size: 1rem;
    background-color: #FFFFFF;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
/* shared class */
.medium{
    font-family:WorkSans-Medium;
    color: #131313;
    font-size: 2.81rem;
    font-weight: 500;
}
.btn-button{
    margin-top: 30px;
    padding: 10px 20px;
    font-family:WorkSans-SemiBold;
    color: #FFFFFF;
    font-size: 1.25rem;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
}
.btn-button:hover{
    color: #FF900E;
    background-color: #131313;
    transition-duration: .3s;
}
/* header section start */
header{
    background-color: #FFF4E7;
}
.header-container{
    margin: 0 auto;
    padding: 50px 0;
    width: 90%;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h2{
    font-family:WorkSans-Bold;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
nav ul li a{
    font-family:WorkSans-Medium;
    color: #424242;
    font-size: 1.13rem;
    font-weight: 500;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #FF900E;
    transition-duration: .3s;
}
.brand-new{
    text-align: center;
}
.brand-new h1{
    margin: 70px 0 30px ;
    font-family:WorkSans-Bold;
    color: #424242;
    font-size: 4rem;
    font-weight: 700;
}
.header-container img{
    margin-top: 50px;
}
/* header section end */
/* quick section start */
.quick-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.quick-img{
    padding: 50px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.quick-info{
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick-text p{
    margin: 20px 0;
}
.list{
    color: #727272;
    font-weight: 200;
}
.our{
    font-family:WorkSans-Bold;
    color: #131313;
    font-weight: 700;
}
.features{
    font-family:WorkSans-Bold;
    color: #FF900E;
    font-weight: 700;
}
/* quick section end */
/* Features section start */
#cv{
    margin: 70px 0;
}
.features-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.cv-info{
    width: 50%;
}
.cv-desh h2{
    padding-left: 10px;
    border-left: 5px solid #FF900E;
}
.cv-desh h2{
    font-family:WorkSans-Bold;
    color: #424242;
    font-size: 2.81rem;
    font-weight: 700;
}
.cv-desh p{
    margin-top: 20px;
}
.destop{
    width: 85%;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(19, 19, 19, .2)
;
}
.destop h2{
    font-family:WorkSans-SemiBold;
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.cv-img{
    width: 50%;
}
.year{
     margin: -80px 0 0 -60px;
     padding: 25px 40px;
     position: absolute;
     width: 20%;
     background-color: #FF900E;
     border-radius: 10px;
}
.year h2{
    font-family:WorkSans-Bold;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.year p{
    font-family:WorkSans-SemiBold;
    text-align: center;
    font-size: 1.56rem;
    color: #FFFFFF;
    font-weight: 600;
}
/* Features section end */
/* Some Facts section start */
#some{
    margin: 200px 0 50px 0;
}
.some-container{
    margin: 0 auto;
    width: 90%;
}
.some-container h2{
    font-family:WorkSans-Bold;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.some-container p{
    margin: 20px 0;
}
.some-box{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 60px;
}
.some-box-item{
    margin-top: 30px;
    padding: 50px 0;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 10px;
}
.some-box-item:hover{
    border: 1px solid #131313;
    transition-duration: 1s;
}
.some-box-item img{
    width: 15%;
}
.some-box-item h2{
    margin: 10px 0;
    font-family:WorkSans-Bold;
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}
.some-box-item h6{
    font-family:WorkSans-SemiBold;
    font-size: 1.25rem;
    color: #131313;
    font-weight: 600;
}
/* Some Facts section end */
/* Our Sponspors section start */
#sponsor{
    margin: 5px 0 50px 0;
}
.sponspor-container{
    margin: 0 auto;
    width: 90%;
}
.sponsper-text{
    text-align: center;
}
.sponsper-text h2{
    font-family:WorkSans-Bold;
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}
.sponsper-text p{
    margin: 20px 0;
}
.sponsper-img{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 80px;
}
.sponsper-img img{
    filter: grayscale(100%);
}
/* Our Sponspors section end */
/*  footer section start */
footer{
    margin: 50px 0;
}
.footer-container{
    margin: 0 auto;
    width: 90%;
    background-color: #FFF4E7;
    border-radius: 10px;
}
.footer-container p{
    padding: 20px 0;
    font-size: 1.20rem;
    text-align: center;
}
/*  footer section end */